
database = database_path
JWT_SECRET_KEY= yourpassword
JWT_ALGORITHMS=HS256 #by default 
ACCESS_TOKEN_EXPIRE_MINUTE=20 #by default 20 minutes
DB_SCHEMA = public #public type of your db
JWT_SECRET_REFRESH_KEY=yourpasssword
